@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700;800&display=swap");

$primary-font: "Work Sans", sans-serif;

$primary-black: #151515;
$primary-gray: #9b9b9b;
$primary-white: #fff;
$secondary-blue: #0e8bff;
$secondary-gray: #3e3e3e;

$xsmall: 0.6rem;
$small: 0.9rem;
$medium: 1rem;
$large: 1.5rem;
$xlarge: 2rem;

body {
  background-color: $primary-black;
  font-family: $primary-font;
  color: $primary-white;
  display: flex;
  justify-content: center;
  h1 {
    font-size: $large;
    color: $primary-white;
    margin: 0;
    padding: 0 0 0.5rem 0;
  }
  h2 {
    font-size: $xlarge;
  }
  h5 {
    margin: 0 0 0.4rem 0;
    text-transform: uppercase;
    font-size: $xsmall;
    margin: 0 0 0.2rem 0;
  }
  p {
    font-size: $medium;
    color: $primary-gray;
    padding: 0;
    margin: 0;
  }
}
.site-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    width: 100%;
    padding: 1em;
    color: $primary-white;
    border: 1px solid $secondary-gray;
    background-color: $primary-black;
    transition: 0.4s;
    font-size: $medium;
    cursor: pointer;
    outline: none;
  }
  button:hover {
    color: $primary-white;
    border: 1px solid $secondary-blue;
    background-color: $secondary-blue;
  }
  @media only screen and (max-width: 600px) {
    padding: 0 0 15rem 0;
  }
}

.header {
  padding: 10rem 3rem 20rem 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.search-intro {
  padding: 3rem 0 0 0;
  margin: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: $primary-gray;
  }
}
.results {
  display: flex;
  width: 60vw;
  flex-direction: column;
  height: 100vh;
  padding: 3rem 0 0 0;
  @media only screen and (max-width: 600px) {
  }
}
.film-title {
}
.film-content {
  border-top: 1px solid $secondary-gray;
  padding: 0 0 1rem 0;
  margin: 0 0 1rem 0;
  display: flex;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}
.description {
  display: flex;
  padding: 2rem 5rem 5rem 0;
  flex-direction: column;
  justify-content: space-between;
  p {
    font-size: $medium;
    line-height: $large;
    color: $primary-gray;
    font-weight: 200;
  }
  @media only screen and (max-width: 600px) {
    padding: 1rem 1rem 1rem 0;
  }
}

.poster {
  display: flex;
  align-items: center;
  img {
    max-width: 250px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    transition: 0.3s;
  }
  img:hover {
    transform: scale(1.1);
  }
  @media only screen and (max-width: 600px) {
    img {
      max-width: 100%;
    }
  }
}
.facts {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }
}
.facts > div {
  padding: 2rem 0;
  @media only screen and (max-width: 1200px) {
    padding: 0.5rem 0;
  }
}
.starring,
.details {
  padding: 0 0 2rem 0;
  @media only screen and (max-width: 1200px) {
    padding: 0.5rem 0;
  }
}

// Search
.search-row {
  display: flex;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}
.search-row-input {
  flex-grow: 4;

  input {
    padding: 1rem;
    border-radius: 0;
    border: none;
    width: 100%;
    border: 1px solid $secondary-gray;
    background-color: $primary-black;
    font-size: $medium;
    color: $primary-white;
    transition: 0.3s;
    outline: none;
  }
  input:focus {
    color: $secondary-blue;
  }
  ::placeholder {
    color: $primary-white;
  }
  @media only screen and (max-width: 600px) {
    display: flex;
    input {
      margin: 1rem 0;
    }
  }
}
.search-row-button {
  flex-grow: 1;
}
// Error
.error-row {
  p {
    padding: 1rem 0;
    color: $secondary-blue;
  }
}
// Footer
.footer {
  font-size: $small;
  color: $primary-white;
  font-weight: 400;
  display: flex;
  margin: 0;
  justify-content: space-between;
  position: relative;
  border-top: 1px solid $secondary-gray;

  a {
    color: $primary-white;
    transition: 0.3s;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
  }
  a:hover {
    border-bottom: 1px solid $secondary-blue;
    padding-bottom: 5px;
    color: $secondary-blue;
  }
  p {
    color: $primary-white;
    padding: 1rem 0rem;
    font-size: $small;
  }
  span {
    color: $primary-gray;
    font-weight: 200;
  }
  @media only screen and (max-width: 600px) {
    margin: 500px 0 0 0;
  }
  @media only screen and (max-width: 1200px) {
    margin: 600px 0 0 0;
  }
}
