@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700;800&display=swap");

$primary-font: "Work Sans", sans-serif;

$primary-black: #151515;
$primary-gray: #9b9b9b;
$primary-white: #fff;
$secondary-blue: #0e8bff;
$secondary-gray: #3e3e3e;

$xsmall: 0.6rem;
$small: 0.9rem;
$medium: 1rem;
$large: 1.5rem;
$xlarge: 2rem;

body {
  background-color: $primary-black;
  font-family: $primary-font;
  color: $primary-white;
  display: flex;
  justify-content: center;
  h1 {
    font-size: $large;
    color: $primary-white;
    margin: 0;
    padding: 0 0 0.5rem 0;
  }
  h2 {
    font-size: $xlarge;
  }
  h5 {
    margin: 0 0 0.4rem 0;
    text-transform: uppercase;
    font-size: $xsmall;
  }
  p {
    font-size: $medium;
    color: $primary-gray;
    padding: 0;
    margin: 0;
  }
}
.site-container {
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    width: 100%;
    padding: 1em;
    color: $primary-white;
    border: 1px solid $secondary-gray;
    background-color: $primary-black;
    transition: 0.4s;
    font-size: $medium;
    cursor: pointer;
    outline: none;
  }
  button:hover {
    color: $primary-white;
    border: 1px solid $secondary-blue;
    background-color: $secondary-blue;
  }
}

.header {
  padding: 10rem 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.search {
  border-top: 1px solid $secondary-gray;
  padding: 2rem 0;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: $primary-white;
  }
  input {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0;
    border: none;
    width: 100%;
    border: 1px solid $secondary-gray;
    background-color: $primary-black;
    font-size: $medium;
    color: $primary-white;
    transition: 0.3s;
    outline: none;
  }
  input:focus {
    color: $secondary-blue;
  }
  ::placeholder {
    color: $primary-white;
  }
}
.results {
  display: flex;
  width: 60vw;
  flex-direction: column;
}
.film-title {
}
.film-content {
  border-top: 1px solid $secondary-gray;
  border-bottom: 1px solid $secondary-gray;
  padding: 0 0 1rem 0;
  margin: 0 0 1rem 0;
  display: flex;
}
.description {
  display: flex;
  padding: 2rem 5rem 5rem 0;
  flex-direction: column;
  justify-content: space-between;
  p {
    font-size: $medium;
    line-height: $large;
    color: $primary-gray;
    font-weight: 200;
  }
}

.poster {
  display: flex;
  align-items: center;
  img {
    max-width: 300px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  }
}
.release {
  padding: 2rem 0;
}
.runtime {
  padding: 2rem 0;
}
.genre {
  padding: 2rem 0;
}
.rating {
  padding: 2rem 0;
}
.genre {
  padding: 2rem 0;
}
.facts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.staring {
  padding: 2rem 0;
}

.details {
}
// Search section
.search-again {
  display: flex;
  grid-auto-flow: column;
}
.footer {
  font-size: $small;
  color: $primary-white;
  font-weight: regular;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-top: 1px solid $secondary-gray;
  a {
    color: $primary-white;
    transition: 0.3s;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
  }
  a:hover {
    border-bottom: 1px solid $secondary-blue;
    padding-bottom: 5px;
  }
  p {
    color: $primary-white;
    padding: 1rem 0rem;
    font-size: $small;
  }
  span {
    color: $primary-gray;
    font-weight: 200;
  }
}
